@import "./utils/visually-hidden";
@import "./utils/variables";

@import "./base/common";
@import "./base/container";
@import "./base/section";

@import "./components/logo";
@import "./components/headers";
@import "./components/social";
@import "./components/modal";
@import "./components/buttons";
@import "./components/mobile-menu";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/strengths";
@import "./layout/work";
@import "./layout/team";
@import "./layout/customers";
@import "./layout/footer";

@import "./pages/portfolio";
