.logo {
  display: flex;
  justify-content: center;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.667;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-blue-theme {
  color: var(--blue-color);
}
.logo-light-theme {
  color: var(--main-color);
}
.logo-dark-theme {
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 83px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.192;
  }
}

// @media screen and (max-width: 1199.9px) {
//   .logo {
//     margin: auto;
//   }
// }
