:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #757575;
  --main-bgc: #e5e5e5;
  --second-bgc: #eeeeee;
  --white-bgc: #ffffff;
  --dark-bgc: #2f303a;
  --grey-bgc: #f5f4fa;
  --icon-color: #afb1b8;
}
